<% provide(:title, @exam.title) %>

<% content_for :breadcrumbs do %>
<li><%= link_to "考试管理", examinations_path %> <span class="separator"></span></li>
<li><%= link_to @exam.title, examinations_path %> <span class="separator"></span></li>
<%= content_tag(:li, @exam_feedback.user.name) %>
<% end %>

<% content_for :javascript do %>
<% end %>

<div class="row-fluid">
  <div id="dashboard-left" class="span8">
    <div class="well exam-details-progress">
      <h4>考卷详情</h4>
      <h5>选择题（<%= @exam.get_choice_question.count %>）</h5>
      <ul class="exam-course-progress-list">
        <% @exam.get_choice_question.each_with_index do |cq, idx| %>
        <li class='question-title'>
          <span><%= idx + 1 %>. <%= cq.title %></span>
        </li>
        <% cq.options.each_with_index  do |op, index| %>
        <li class='question-option'>
          <span class='option-content'><%= '[选项-' + (index+1).to_s + ']: ' + op.content %><%= content_tag :i, nil, :class => 'iconfa-check' if cq.answer.to_i == index %></span>
            <span class='label label-info'><%= '考生' if @exam.quesiton_user_answer(@exam_feedback.id, cq.id).content.to_i == index%></span>
        </li>
        <% end %>
        <% end %>
      </ul>

      <h5>判断题（<%= @exam.get_judgement_question.count %>）</h5>
      <ul class="exam-course-progress-list">
        <% @exam.get_judgement_question.each_with_index do |cq, idx| %>
        <li class='question-title'>
          <span class='qustion-title'>[<%= idx + 1 %>]: <%= cq.title %></span>
        </li>
        <% get_option_type(cq).each do |key, value|%>
        <li class='question-option'>
          <span class='option-content'>[选项]: <%= key %> <%= content_tag :i, nil, :class => 'iconfa-check' if cq.answer == value %></span>
          <span class='label label-info'><%= '考生' if @exam.quesiton_user_answer(@exam_feedback.id, cq.id).content == value  %></span>
        </li>
        <% end %>
        <% end %>
      </ul>

      <h5>简答题（<%= @exam.get_dialogical_question.count %>）</h5>
      <ul class="tp-course-progress-list">
        <% @exam.get_dialogical_question.each_with_index do |cq, idx| %>
        <li>
          <span class='qustion-title'>[<%= idx + 1 %>]: <%= cq.title %></span>
        </li>
        <li>
          <span class='qustion-title'>[<%= @exam_feedback.user.name %>]: <%= @exam.quesiton_user_answer(@exam_feedback.id, cq.id).content %></span>
        </li>
        <% end %>
      </ul>
    </div>
  <div class="well exam-details-progress">
    <h4>考试详细信息</h4>
    <h5>考试总题数：<%= @exam.questions.size %><h5>
    <h5>答对题数  : <%=  @exam_feedback.get_answer_result(true).size %><h5>
    <h5>答错题数  ：<%= @exam_feedback.get_answer_result(false).size %><h5>
    <% if @exam_feedback.state.nil? %>
      <%= form_for(@exam_feedback, :url => examination_exam_feedback_path(@exam, @exam_feedback), html: { :method => :put }) do |f| %>
        <%= f.collection_radio_buttons  :state,[[true, '通过考试'] ,[false, '不通过考试']], :first, :last %>
        <div class="form-actions">
           <%= f.submit "批阅试卷" %>
        </div>
      <% end %>
    <% else %>
      <h5>考试结果：<%= @exam_feedback.state ? "通过" : "未通过"%></h5>
    <% end %>
  </div>
  </div>
</div>
